.main_div {
    width: 90%; 
    margin-left: 5%; 
}

.mrgn_bttm {
    margin-left: 2%;
    margin-bottom: 1%;
}

.left_contain {
    width: 90%; 
    margin-left: 5%;
}

.image {
    width: 60% !important; 
    height: 400px !important; 
    // width: 1024px;
}

.carousel-caption {
    color: black !important;
    right: 0% !important; 
    left: 0% !important;
    padding-bottom: 0px !important;
    text-align: left !important;
}
